{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Sortir.com!</h1>
        <p class="lead"> ENI créateur de connexion</p>
        <hr class="my-4">
    </div>

    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <h3 class="alert-{{ label }} ">
                    {{ message }}
                </h3>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}