{% extends 'base.html.twig' %}
{% block title %}
Liste des participants
{% endblock %}
{% block body %}


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Liste des participants</h1>

             <div class="container">
                 <br>
                <div class="row">
                    {% for user in users %}
                        <div class="container col-3 col-sm-3 col-md-5 ">
                            <div class="my-2 ">
                                <div class="row align-items-center">
                             <div class="card text-white bg-dark text-center">
                                 <h3>{{ user.pseudo }}</h3>
                            <h6 class="card-header text-light bg-dark"> {{ user.nom }} {{ user.prenom }}</h6>
                            <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Admin" class="rounded-circle" width="150">
                             </div>
                        </div>
                  </div>
                </div>

                 {% endfor %}
             </div>
        <br>
         </div>

{% endblock %}
